<div class="container form-control-sm">
  <form #editCustomers="ngForm" (ngSubmit)="onSubmit()">
    <h2 class="text-center mt-3">Edit Customer</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        name="fn"
        [(ngModel)]="customer.firstName"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        name="ln"
        [(ngModel)]="customer.lastName"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Phone</label>
      <input
        type="text"
        class="form-control"
        name="phone"
        [(ngModel)]="customer.phone"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
        [(ngModel)]="customer.email"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        name="address"
        [(ngModel)]="customer.address"
      />
    </div>

    <button type="submit" class="btn btn-dark col-12 mb-3">Submit</button>
  </form>
</div>
